.importkeystore {
	.keystore-title {
		padding: 0.4rem 0;
		font-size: 0.3rem;
		color: #4a4a4a;
		text-align: center;
		font-weight: 400;
	}
	.keystore-container {
		display: flex;
		justify-content: center;
	}
	.keystore-box {
		max-width: 90%;
		width: 7.7rem;
		background: #0b0b0b;
		border-radius: 0.08rem;
		box-sizing: border-box;
		padding: 0.2rem;
		box-sizing: border-box;
		border: 3px solid #1e1e1e;
	}
	.keystore-group {
		align-items: flex-start;
		margin: 0.2rem 0;
		.icon-check {
			margin-right: 0.1rem;
			display: block;
			width: 0.16rem;
			height: 0.16rem;
			background-size: 100% 100% !important;
			&.uncheck {
				background: url("../../../../assets/images/uncheck.png") left
					top no-repeat;
			}
			&.checked {
				background: url("../../../../assets/images/checked.png") left
					top no-repeat;
			}
		}
		.keystore-text {
			width: 100%;
			resize: none;
			background: #121212;
			height: 1.8rem;
			border: none;
			outline: none;
			border-radius: 0.08rem;
			box-sizing: border-box;
			padding: 0.1rem;
			color: #fff;
			&::-webkit-input-placeholder {
				color: #4a4a4a;
			}
		}
		.filename {
			width: 100%;
			padding: 0.17rem;
			box-sizing: border-box;
			background: #121212;
			border: 1px solid #121212;
			outline: none;
			border-radius: 0.08rem;
			color: #fff;
			&::-webkit-input-placeholder {
				color: #4a4a4a;
			}
			&.cur {
				border: 1px solid #47c47f;
			}
		}
		.icon-openfile {
			display: block;
			height: 0.22rem;
			width: 0.22rem;
			background: url("../../../../assets/images/file_icon.png") left top
				no-repeat;
			background-size: 100% 100% !important;
			background-color: #2e2e4c;
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			cursor: pointer;
		}
		.file-btn {
			width: 0.22rem;
			height: 0.22rem;
			overflow: hidden;
			position: relative;
			margin-left: 0.1rem;
			input {
				font-size: 100px;
			}
		}
	}
	.key-next {
		padding: 1.53rem 0 0.36rem 0;
		text-align: center;
		.keybtn {
			display: inline-block;
			width: 2rem;
			height: 0.44rem;
			border-radius: 0.08rem;
			color: #fff;
			font-size: 0.18rem;
			line-height: 0.44rem;
			background: linear-gradient(to right, #82e0ac, #47c47f);
		}
	}
}
