.importwallet {
	.import-title {
		padding: 0.4rem 0;
		font-size: 0.3rem;
		color: #47d184;
		text-align: center;
	}
	.import-container {
		text-align: center;
		color: #fff;
		.import-group {
			display: flex;
			text-align: center;
			background: #2e2e4c;
			width: 2.4rem;
			height: 1.6rem;
			margin: 0.14rem;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			border-radius: 0.08rem;
			.t1 {
				font-size: 0.18rem;
				margin-top: 0.05rem;
			}
			.importicon {
				width: 0.47rem;
				height: 0.47rem;
			}
		}
	}
}
