.importwallet {
	.import-title {
		padding: 0.4rem 0;
		font-size: 0.3rem;
		color: #47d184;
		text-align: center;
	}
	.wallet-type {
		display: flex;
		justify-content: center;
		.type-item {
			color: #fff;
			text-align: center;
			flex: 0 1 2rem;
			cursor: pointer;
			padding: 0.2rem 0;
			box-sizing: border-box;
			border-radius: 0.08rem;
			&:hover {
				// background: rgba(255, 255, 255, 0.17);
				color: #47d184;
				img {
					width: 1.2rem;
					height: 1.2rem;
				}
			}
			img {
				width: 1rem;
				height: 1rem;
				transition: all 0.3s linear;
			}
			.t {
				font-size: 0.18rem;
				margin-top: 0.2rem;
				font-weight: 400;
			}
		}
	}
	.import-container {
		text-align: center;
		color: #fff;
		.import-group {
			display: flex;
			text-align: center;
			background: #2e2e4c;
			width: 2.4rem;
			height: 1.6rem;
			margin: 0.14rem;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			border-radius: 0.08rem;
			&:hover {
				background: linear-gradient(to bottom, #525275, #262642);
			}
			&.disnone {
				background: none;
			}
			.t1 {
				font-size: 0.18rem;
				margin-top: 0.05rem;
				color: #fff;
			}
			.importicon {
				width: 0.47rem;
				height: 0.47rem;
			}
		}
	}
}
