.addasset {
	.addasset-content {
		.title {
			text-align: center;
			font-size: 0.3rem;
			line-height: 0.36rem;
			color: #47d184;
			margin-top: 0.4rem;
		}
		.cokBox {
			margin: 0 auto;
			margin-top: 0.56rem;
			width: 7.76rem;
			height: 5.32rem;
			background: rgba(46, 46, 76, 1);
			border-radius: 8px;
			overflow: hidden;
			.assetUl {
				width: 7.36rem;
				height: 4.2rem;
				margin: 0 auto;
				margin-top: 0.2rem;
				overflow: scroll;
				.assetCell {
					position: relative;
					width: 100%;
					height: 0.54rem;
					border-bottom: 2px solid #373755;
					display: flex;
					align-items: center;
					.imgbox {
						width: 0.22rem;
						height: 0.22rem;
						margin-right: 0.11rem;
					}
					.nameStr {
						height: 100%;
						line-height: 0.54rem;
						color: #fff;
						font-size: 0.16rem;
					}
					.choose {
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 0.22rem;
						height: 0.22rem;
					}
				}
			}
			.confirmBtn {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
