.wallet {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	padding: 0 0.4rem;
	.box1 {
		padding: 0.4rem 0;
		.icon {
			width: 0.8rem;
			height: 0.8rem;
			margin-right: 0.2rem;
		}
		.money {
			margin-left: 0.2rem;
			height: 0.8rem;
			color: #5c89eb;
			font-size: 0.24rem;
		}
		.name {
			font-size: 0.3rem;
			color: #fff;
		}
		.address {
			font-size: 0.2rem;
			margin-top: 0.2rem;
			color: #fff;
		}
	}
	.box2 {
		background: #2e2e4c;
		border-radius: 0.08rem;
		box-sizing: border-box;
		padding: 0.2rem;
	}
}
