.gas {
	.gas-content {
		.title {
			text-align: center;
			font-size: 0.3rem;
			line-height: 0.36rem;
			color: #4a4a4a;
			margin-top: 0.4rem;
			font-weight: 400;
		}
		.cokBox {
			margin: 0 auto;
			margin-top: 0.56rem;
			width: 7.76rem;
			// background: rgba(46, 46, 76, 1);
			border-radius: 8px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 0.4rem;
			.gasBox {
				margin: 0 0.3rem;
				width: 2.1rem;
				background: #121212;
				box-sizing: border-box;
				border-radius: 8px;
				color: #fff;
				transition: all 0.3s ease-in-out;
				border: 3px solid #121212;
				&:hover {
					border: 3px solid #1e1e1e;
					.gastitle {
						color: #fff;
					}
				}
				&.frozen {
					height: 2.66rem;
				}
				.gastitle {
					margin-top: 0.32rem;
					font-size: 0.16rem;
					line-height: 0.19rem;
					text-align: center;
					color: #828282;
					transition: all 0.3s ease-in-out;
				}
				.money {
					margin-top: 0.1rem;
					font-size: 0.3rem;
					line-height: 0.48rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-align: center;
					font-weight: 400;
				}
				input {
					display: block;
					margin: 0 auto;
					width: 1.68rem;
					border: 0;
					outline: none;
					background: #333;
					border-radius: 0.04rem;
					line-height: 0.38rem;
					text-align: center;
					font-size: 0.14rem;
					color: #fff;
					border: 1px solid #121212;
					transition: all 0.3s linear;
					height: 0;
					&::-webkit-input-placeholder {
						color: rgba(255, 255, 255, 0.17);
					}
					height: 0;
					&.showhei {
						height: 0.4rem;
						margin-top: 0.18rem;
					}
					&:focus {
						border: 1px solid #015a23;
						background: #161616;
					}
				}
				button {
					display: block;
					margin: 0 auto;
					margin-top: 0.32rem;
					margin-bottom: 0.33rem;
					width: 1.09rem;
					height: 0.34rem;
					line-height: 0.32rem;
					border-radius: 4px;
					outline: none;
					font-size: 0.14rem;
					font-weight: 200;
					// color: #ff7044;
				}
			}
		}
	}
}
